/* styles.css */

body{
  font: normal medium sans-serif;
  margin: 0 auto;
  width: 60em;
}

table{
  border-collapse: collapse;
  border: 1px black solid;
  margin: 2em 0 0;
}

td{
  padding: 4px 8px;
  border: 1px black dotted;
}

th{
  padding: 4px 8px;
  border: black solid;
  border-width: 0 0 2px 0;
  background:#DDD;
  font-weight: 600;
}

ul{
  margin-bottom: 1.2em;
}

li{
  margin-bottom: .6em
}
